.contact__item {
display: flex;
justify-content: space-between;
}

.contact__item:not(:last-child) {
    margin-bottom: 10px;
}

.contact__info {
display: flex;
margin: 0;

}

.contact__div{
    width: 150px;
    position: relative;
}

.contact__data {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    align-items: str;

    width: 100%;
}



.deleteBtn {
    font-family: inherit;
    font-size: 100%;

    font-family: inherit;
    font-size: 12px;
    font-weight: bold;

    cursor: pointer;
    padding: 8px 14px;
    width: 120px;

    border: 1px solid #cecece;
    background: #f6f6f6;
    box-shadow: inset 0px 20px 20px #ffffff;
    border-radius: 8px;

}

.deleteBtn:hover {
    box-shadow: inset 0px -20px 20px #ffffff;
}

.deleteBtn:active {
    margin-top: 1px;
    margin-bottom: -1px;
    zoom: 1;
}

.deleteBtn:focus {
    outline: none;
}