.title {
text-align: center;
margin-top: 35px;
margin-bottom: 10px;
}

.title__contacts {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.container {
    width: 450px;

    margin-left: auto;
    margin-right: auto;
}

.contacts {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
}